html{
    background:rgb(66,66,66);
}
body{
  text-align: center;
}
.btn{
  margin:15px auto;
}
.container{
  /*padding:25px;*/
}
.shoot{
  color:white;
  background:red;
}
.status{
  
}
/*.container div{
  margin: 5px;
  position: relative;
}*/
