html{
    background:rgb(66,66,66);
}
body{
  text-align: center;
  height:100vh;
}
.btn{
  margin:15px auto;
}
.mistake{
  padding:5px 10px;
}
.container{
  /*padding:25px;*/
}
.shoot{
  color:white;
  background:red;
}
.weapon{
  transform:rotate(90deg);
}
i{
  font-size:8em !important;
  color:black;
}
i:hover{
  color:#226a9e;
}
.status{

}
.fa-6{
  font-size:30px;
}
/*.container div{
  margin: 5px;
  position: relative;
}*/
